.form {
	&__wrap {
		border-top: 1px solid rgb(235, 235, 235);

		form {
			margin: 20px 0;
		}
	}



	&__auto-access {
		@include flexbox;
		@include justify-content(space-between);
		margin-top: -5px;
	}

	&__action {
		@include flexbox;
		@include flex-direction(column);
		margin-top: 60px;
		text-align: center;

		a {
			margin-top: -5px;
			text-align: left;
		}

		.spot {
			color: #ab3b3b
		}

		.btn_submit {
			width: 100%;
		}
	}
}

.ant-form-item {
	margin-bottom: 10px !important;

	.anticon {
		vertical-align: middle;
	}
}

.ant-form-item-label {
	padding-bottom: 4px !important;
}

.auth {
	&__wrapper {
		@include flexbox;
		@include flex-direction(row);
		min-height: 650px;
		width: 1024px;
		margin: 0 auto;
		background-color: #fff;
	}

	&--bg {
		@include flex(1 0 60%);
		background: url(@/assets/images/bg-login2.jpg) 100% 100%;
		background-position: center;
		background-size: cover;
	}

	&__action {
		@include flex(1 0 40%);
		padding: 20px;
	}

	&--logo {
		margin: 0 auto;
		width: 250px;

		img {
			width: 100%;
			height: auto;
		}
	}
}
