.intro {
	&__title {
		font-size: 18px;
		margin-top: 25px;
	}

	&__desc {
		font-size: 14px;
		margin-top: 5px;
		color: rgb(99, 99, 99);
	}
}

.form {
	&__wrap {
		border-top: 1px solid rgb(235, 235, 235);

		form {
			margin: 20px 0;
		}
	}



	&__auto-access {
		@include flexbox;
		@include justify-content(space-between);
		margin-top: -5px;
	}

	&__action {
		@include flexbox;
		@include flex-direction(column);
		margin-top: 60px;
		text-align: center;

		a {
			margin-top: -5px;
			text-align: left;
		}

		.spot {
			color: #ab3b3b
		}

		.btn_submit {
			width: 100%;
		}
	}
}

.ant-form-item {
	margin-bottom: 10px !important;

	.anticon {
		vertical-align: middle;
	}
}

.ant-form-item-label {
	padding-bottom: 4px !important;
}
