.carousel-fluid {
	.swiper {
		&-wrapper {
			&:hover {
				.swiper-slide {
					opacity: 0.3;

					&:hover {
						z-index: 1;
						opacity: 1;
					}
				}
			}
		}

		&-container {
			overflow: visible;
			overflow: initial;
			width: 100%;
			height: auto;
			padding: 0 4%;
		}

		&-slide {
			display: inline-flex;
			transform: scale(1);
			transition: transform .3s ease-out, opacity .3s ease-out;
			transform: translateX(-30%);
			// opacity: 0.3;

			&:hover {
				position: relative;
				transform: scale(1.3) !important;

				~.swiper-slide {
					transform: translateX(0%);
				}

				.slide {
					&__wrap {
						&::after {
							opacity: 1;
						}
					}
				}
			}

			&:hover {
				.slide {
					&__detail {
						opacity: 1;
						transform: translateY(0);
						pointer-events: all;
					}

				}
			}
		}

		&-pagination {
			position: absolute;
			top: -20px;
			right: 10px;
			bottom: auto !important;
			left: auto !important;
			width: auto !important;
		}
	}
}

.slide {
	&__wrap {
		position: relative;
		overflow: hidden;
		margin-right: .5rem;
		cursor: pointer;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 5px;
			background: linear-gradient(1turn, rgba(0, 0, 0, .6), transparent 65%);
			z-index: 0;
			opacity: 0;
			transition: opacity .2s ease-out;
		}
	}

	&__detail {
		position: absolute;
		left: 0;
		bottom: 0;
		transform: translateY(15%);
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		width: 100%;
		height: 100%;
		padding: 1.6em 0.6em;
		opacity: 0;
		z-index: 2;
		border-radius: 5px;
		pointer-events: none;
		transition: all .4s ease .15s;
	}

	&__btn {
		&-group {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		&-icon {
			display: inline-flex;
			padding: 6px;
			border-radius: 50%;
			font-size: 14px;
			cursor: pointer;
			margin: 0 5px 0;
			background: transparent;
			color: #f2f2f2;
			border: 1px solid #f2f2f2;
			transition: all .3s ease-out;
			outline: none;

			&:first-child {
				margin-left: 0;
				background: #f2f2f2;
				color: #141414;
			}
		}

		&--play {
			&:hover {
				background-color: #000;

				.ico {
					color: #fff;
				}
			}

		}

		&--favorite {
			&:hover {
				background-color: #fff;

				.ico {
					color: #000;
				}
			}
		}

		&--modal {
			&:hover {
				background-color: #fff;

				.ico {
					color: #000;
				}
			}
		}
	}

	&__title {
		font-size: 15px;
		font-weight: 600;
		text-transform: none;

		h3 {
			color: #fff;
			margin-bottom: 0;
		}
	}

	&__tags {
		display: block;
		width: 100%;
		font-size: 10px;

		ul {
			@include flexbox;
			@include flex-direction(row);
			list-style: disc;
			margin-bottom: 0;

			li {
				&:not(:first-child) {
					margin-left: 22px;

				}
			}
		}
	}
}

.carousel-categories {

	.ic {
		display: block;

	}
}
