.wrap {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	max-width: 480px;
	min-width: auto;
	height: auto;
	min-height: 100vh;
	// background-color: var(--background);
	box-shadow: 8px 10px 30px #f3f3f3;
}

.intro {
	&__title {
		font-size: 18px;
		margin-top: 25px;
	}

	&__desc {
		font-size: 14px;
		margin-top: 5px;
		color: rgb(99, 99, 99);
	}
}

header {
	padding: 20px 0;
}
