.search {
	&__wrap {
		position: relative;

	}

	&__header {
		overflow: hidden;
		@include flexbox;
		@include justify-content(center);
		@include flex-direction(row);
	}

	&__inline {


		.search {
			&-form {

				width: calc(100% - 80px);

				form {
					width: 100%;
				}
			}

			&__back,
			&__advance {}

			&__back {
				transform: translateX(0);
			}

			&__advance {
				transform: translateX(-30px);
			}
		}
	}

	&__back,
	&__advance {
		position: absolute;
		transition: all 0.4s ease-in-out;
	}

	&__back {
		left: 0;
		transform: translateX(-40px);
	}

	&__advance {
		right: -20px;
		top: 10px;
		transform: translateX(40px);
	}


	&-form {
		position: relative;
		width: 100%;
		transition: all 0.4s ease-in-out;

		input[type=text] {
			background-color: var(--background);
			border-radius: 5px;
			border: 0;
			box-shadow: none;

			::-webkit-input-placeholder {
				color: var(--alpha-bg);
			}

			:-ms-input-placeholder {
				color: var(--alpha-bg);
			}

			::placeholder {
				color: var(--alpha-bg);
			}
		}

		button {
			color: var(--third)
		}
	}

	&__placeholder {
		vertical-align: middle;

		.anticon {
			vertical-align: 0;
			line-height: 1;
			margin-right: 5px;
		}

		&--text {
			color: var(--third)
		}
	}

	&__inner {
		position: absolute;
		vertical-align: middle;
		transform: translateX(-50%);
		left: 50%;
		color: var(--third);

		>a {
			color: var(--third)
		}
	}


}
